.flex {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--gap);
  box-sizing: border-box;
}

.flex.block {
  display: block;
}

.flex.grow {
  flex-grow: 1;
}

.flex.nogrow {
  flex-grow: 0;
}

.flex.shrink {
  flex-shrink: 1;
}

.flex.noshrink {
  flex-shrink: 0;
}

.flex.column {
  flex-direction: column;
}

.flex.one > *,
.flex.two > *,
.flex.three > *,
.flex.four > *,
.flex.five > *,
.flex.six > * {
  flex-grow: 0;
  flex-shrink: 0;
}

/* Partials defined from the parent */
.flex.one > * {
  width: 100%;
}
.flex.two > * {
  width: calc(50% - var(--gap) / 2);
}
.flex.three > * {
  width: calc(33.333% - var(--gap) * 2 / 3);
}
.flex.four > * {
  width: calc(25% - var(--gap) * 3 / 4);
}
.flex.five > * {
  width: calc(20% - var(--gap) * 4 / 5);
}
.flex.six > * {
  width: calc(16.666% - var(--gap) * 5 / 6);
}

/* Partials redefined from the children */
/* 1 */
.flex > .full {
  width: 100%;
}

/* 2 */
.flex > .half {
  width: calc(50% - var(--gap) / 2);
}

/* 3 */
.flex > .third {
  width: calc(33.333% - var(--gap) * 2 / 3);
}

.flex > .two-thirds {
  width: calc(66.666% - var(--gap) * 1 / 3);
}

/* 4 */
.flex > .fourth {
  width: calc(25% - var(--gap) * 3 / 4);
}

.flex > .two-fourths {
  width: calc(50% - var(--gap) * 2 / 4);
}

.flex > .three-fourths {
  width: calc(75% - var(--gap) * 1 / 4);
}

/* 5 */
.flex > .fifth {
  width: calc(20% - var(--gap) * 4 / 5);
}

.flex > .two-fifths {
  width: calc(40% - var(--gap) * 3 / 5);
}

.flex > .three-fifths {
  width: calc(60% - var(--gap) * 2 / 5);
}

.flex > .four-fifths {
  width: calc(80% - var(--gap) * 1 / 5);
}

/* 6 */
.flex > .sixth {
  width: calc(16.666% - var(--gap) * 5 / 6);
}

.flex > .two-sixths {
  width: calc(33.333% - var(--gap) * 2 / 3);
}

.flex > .three-sixths {
  width: calc(50% - var(--gap) * 1 / 2);
}

.flex > .four-sixths {
  width: calc(66.666% - var(--gap) * 1 / 3);
}

.flex > .five-sixths {
  width: calc(83.333% - var(--gap) * 1 / 6);
}

/* Vertically center them */
.center {
  justify-content: center;
}
.around {
  justify-content: space-around;
}
.between {
  justify-content: space-between;
}
.evenly {
  justify-content: space-evenly;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.top {
  align-items: flex-start;
}
.middle {
  align-items: center;
}
.bottom {
  align-items: flex-end;
}
.stretch {
  align-items: stretch;
}
